<h1 class="heading">list repos component</h1>
 

 
<div class="form-group">
    <label for="userName">GitHub User Name</label>
    <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
    <button type="button" (click)="getRepos(); toggle('')">Get Repos from User</button>
    <button type="button" (click)="get_following(); toggle('')">Who am I following</button>
  </div>
 
<div *ngIf="loading">loading...</div>
 
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>
 
 
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>HTML Url</th>
      <th>description</th>
      <th>created at</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repos;">
      <td>{{repo.id}}</td>
      <td>{{repo.name}}</td>
      <td>{{repo.html_url}}</td>
      <td>{{repo.description}}</td>
      <td>{{repo.created_at}}</td>
    </tr>
  </tbody>
</table>
 
