<h1 class="heading"><strong>Github </strong></h1>
<ul>
    <li>ajodochus</li>
    <li>rac2030</li>
</ul>
<div class="form-group">
    <label for="userName">GitHub User</label>
    <input type="text" class="form-control" name="userName" [(ngModel)]="gitUserName">   
    <button type="button" (click)=gotoListRepos(gitUserName)>List Repos from User</button>
    <button type="button" (click)=gotoListFollowing(gitUserName)>List who am I following</button>
</div>

<!--
<nav>
    <a routerLink='/listRepos'>list repost</a>
    <span> -- </span>
    <a [routerLink]="['/listFollowing']" [queryParams]="{q:'asdf'}">following</a>
</nav>
-->
<!-- 
    <app-list-following *ngIf="show_following"></app-list-following>
<app-list-repos *ngIf="show_repos"></app-list-repos>
-->

<!-- <pre>{{repos | json}}</pre> -->

<router-outlet></router-outlet>